<<<<<<< HEAD
html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

.lastResult {
  color: white;
  padding: 3px;
}
=======
html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

.lastResult {
  color: white;
  padding: 3px;
}
>>>>>>> 8cb63304d5297e61f226b0d1df88edda9f85434e
